<html><head><title>tu_Fabin</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body bgcolor="#ffffff" leftmargin=5 topmargin=5 rightmargin=5 bottommargin=5>
<font size=2 color="#000000" face="Arial">
<div><table width="100%" border=0 cellpadding=6 cellspacing=6 bordercolor="#000000" bgcolor="#ffffff">
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana">from flask import Flask;</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">app = Flask(__name__)</font></div>
<div><font color="#000000" face="Verdana">@app.route('/')</font></div>
<div><font color="#000000" face="Verdana">def index():</font></div>
<div><font color="#000000" face="Verdana">&nbsp; &nbsp; return("Hello from another &nbsp;Wasan World");</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">if __name__ == '__main__':</font></div>
<div><font color="#000000" face="Verdana">&nbsp; &nbsp; app.run(debug=True, port=5000);</font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana">from flask import Flask,render_template;</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">app = Flask(__name__)</font></div>
<div><font color="#000000" face="Verdana">@app.route('/')</font></div>
<div><font color="#000000" face="Verdana">def index():</font></div>
<div><font color="#000000" face="Verdana">&nbsp; &nbsp; return render_template('index.html);</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">if __name__ == '__main__':</font></div>
<div><font color="#000000" face="Verdana">&nbsp; &nbsp; app.run(debug=True, port=5000);</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana">from flask import Flask, render_template;</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">app = Flask(__name__)</font></div>
<div><a href="mailto:@app.route(&apos;/')"><font color="#0000ff" face="Verdana"><u>@app.route('/')</u></font></a></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">def index():</font></div>
<div><font color="#000000" face="Verdana">&nbsp; &nbsp;#return render_template('index.html');</font></div>
<div><font color="#000000" face="Verdana">&nbsp; &nbsp; return redirect(url_for('about'))</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">@app.route('/hello/&lt;name&gt;')</font></div>
<div><font color="#000000" face="Verdana">def hello(name):</font></div>
<div><font color="#000000" face="Verdana">&nbsp; &nbsp; &nbsp; &nbsp;return "Hello (%s)",name</font></div>
<div><font color="#000000" face="Verdana">&nbsp;</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">@app.route('/about')</font></div>
<div><font color="#000000" face="Verdana">def about():</font></div>
<div><font color="#000000" face="Verdana">&nbsp; &nbsp; return render_template('about.html');</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">if __name__ == '__main__':</font></div>
<div><font color="#000000" face="Verdana">&nbsp; &nbsp; app.run(debug=True, port=8000);</font></div>
<hr noshade size=1 color="#000000">
<div><font color="#000000" face="Verdana">&lt;html&gt;</font></div>
<div><font color="#000000" face="Verdana">&lt;head&gt;</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">&lt;/head&gt;</font></div>
<div><font color="#000000" face="Verdana">&lt;body&gt;</font></div>
<div><font color="#000000" face="Verdana">&lt;h2&gt;This is home Page&lt;/h2&gt;</font></div>
<div><font color="#008000" face="Verdana">&lt;img src={{url_for('static',filename='01bolly1.jpg') }} height="300" width="200" /&gt;</font></div>
<div><font color="#000000" face="Verdana">&lt;/body&gt;</font></div>
<div><font color="#000000" face="Verdana">&lt;/html&gt;</font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana">&lt;link rel='stylesheet' href="{{'static', filename='files/css/styles.css' }}"</font></div>
<div><font color="#008000" face="Verdana"><br></font></div>
<div><font color="#008000" face="Verdana">GOLD@123</font></div>
<div><font color="#008000" face="Verdana"><br></font></div>
<div><table width="100%" border=0 cellpadding=6 cellspacing=6 bordercolor="#000000" bgcolor="#ffffff">
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div>python -m venv env</div>
<div>env\Scripts\activate</div>
<div>deactivate</div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana">pip3 install pyyaml==5.4.1</font></div>
<div><font color="#000000" face="Verdana">pip3 install pyyaml</font></div>
<div><font color="#000000" face="Verdana">pip3 install flask-mysqldb</font></div>
</font>
</td>
</tr>
</table>
</div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana">@app.route('/fruits')</font></div>
<div><font color="#000000" face="Verdana">def fruits():</font></div>
<div><font color="#000000" face="Verdana">&nbsp; &nbsp; fruits = ['Apple','Orange','Banana','Pineapple'];</font></div>
<div><font color="#000000" face="Verdana">&nbsp; &nbsp; return render_template('fruits.html',fruits=fruits);</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<hr noshade size=1 color="#000000">
<div><font color="#000000" face="Verdana">&lt;html&gt;</font></div>
<div><font color="#000000" face="Verdana">&lt;head&gt;&lt;/head&gt;</font></div>
<div><font color="#000000" face="Verdana">&lt;body&gt;</font></div>
<div><font color="#000000" face="Verdana"><b>&lt;ul&gt;</b></font></div>
<div><font color="#000000" face="Verdana"><b>&nbsp;{% for fruit in fruits %}</b></font></div>
<div><font color="#000000" face="Verdana"><b>&nbsp;&lt;li&gt;{{fruit}}&lt;/li&gt;</b></font></div>
<div><font color="#000000" face="Verdana"><b>&nbsp;{% endfor %}</b></font></div>
<div><font color="#000000" face="Verdana"><b>&lt;/ul&gt;</b></font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana"><b>{% if 'Mango' in fruits %}</b></font></div>
<div><font color="#000000" face="Verdana"><b>&nbsp;&lt;p&gt; Mango is in the list fruits&lt;/p&gt;</b></font></div>
<div><font color="#000000" face="Verdana"><b>{% else %}</b></font></div>
<div><font color="#000000" face="Verdana"><b>&lt;p&gt;Mango is not in list&lt;/p&gt;</b></font></div>
<div><font color="#000000" face="Verdana"><b>{% endif %}</b></font></div>
<div><font color="#000000" face="Verdana">&lt;/body&gt;</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">&lt;/html&gt;</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana">&lt;html&gt;</font></div>
<div><font color="#000000" face="Verdana">&lt;head&gt;</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">&lt;/head&gt;</font></div>
<div><font color="#000000" face="Verdana">&lt;body&gt;</font></div>
<div><font color="#000000" face="Verdana">&nbsp;{% block body %}</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">&nbsp;{% endblock %}</font></div>
<div><font color="#000000" face="Verdana">&lt;/body&gt;</font></div>
<div><font color="#000000" face="Verdana">&lt;/html&gt;</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<hr noshade size=1 color="#000000">
<div><font color="#000000" face="Verdana">&lt;html&gt;</font></div>
<div><font color="#000000" face="Verdana">{% &nbsp;extends 'base.html' %}</font></div>
<div><font color="#000000" face="Verdana">{% block body %}</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">&lt;ul&gt;</font></div>
<div><font color="#000000" face="Verdana">&nbsp;{% for fruit in fruits %}</font></div>
<div><font color="#000000" face="Verdana">&nbsp;&lt;li&gt;{{fruit}}&lt;/li&gt;</font></div>
<div><font color="#000000" face="Verdana">&nbsp;{% endfor %}</font></div>
<div><font color="#000000" face="Verdana">&lt;/ul&gt;</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">{% if 'Mango' in fruits %}</font></div>
<div><font color="#000000" face="Verdana">&nbsp;&lt;p&gt; Mango is in the list fruits&lt;/p&gt;</font></div>
<div><font color="#000000" face="Verdana">{% else %}</font></div>
<div><font color="#000000" face="Verdana">&lt;p&gt;Mango is not in list&lt;/p&gt;</font></div>
<div><font color="#000000" face="Verdana">{% endif %}</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">{% endblock %}</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
<div><font color="#000000" face="Verdana">&lt;/html&gt;</font></div>
<hr noshade size=1 color="#000000">
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana">https://pythonhosted.org/Flask-Bootstrap/basic-usage.html</font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana">import os</font></div>
<div><font color="#000000" face="Verdana">app.config['SECRET_KEY'] = os.urandom[24]</font></div>
<div><font color="#000000" face="Verdana">session['username'] = employees[0]['name']</font></div>
<div><font color="#000000" face="Verdana">{{ session['username']</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td rowspan=2><font size=2 color="#000000" face="Arial">
<div>from flask import Flask;</div>
<div>from flask_mysqldb import MySQL;</div>
<div>import yaml;</div>
<div><br></div>
<div>app = Flask(__name__)</div>
<div>#db = yaml.load(open('db.yaml'));</div>
<div><br></div>
<div>app.config['MYSQL_HOST'] = 'localhost'</div>
<div>app.config['MYSQL_USER'] = 'root'</div>
<div>app.config['MYSQL_PASSWORD'] =''</div>
<div>app.config['MYSQL_DB'] = 'flask_db1'</div>
<div><br></div>
<div>mysql = MySQL(app);</div>
<div><br></div>
<div>@app.route('/')</div>
<div>def index():</div>
<div>&nbsp; &nbsp; cur =mysql.connection.cursor();</div>
<div>&nbsp; &nbsp; cur.execute("INSERT INTO users (user) VALUES(%s)",["Priya"]);</div>
<div>&nbsp; &nbsp; mysql.connection.commit();</div>
<div>&nbsp; &nbsp; </div>
<div>&nbsp; &nbsp; return("Hello from another &nbsp;Wasan World");</div>
<div><br></div>
<div>if __name__ == '__main__':</div>
<div>&nbsp; &nbsp; app.run(debug=True, port=5001);</div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana">from werkzeug.security import generate_password_hash,check_password_hash</font></div>
<div><font color="#000000" face="Verdana">variable = generate_password_hash(variable)</font></div>
<div><font color="#000000" face="Verdana">variable = check_password_hash(variable)</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><br></div>
<div><font face="Verdana">flash("Successfully entered User", "success")</font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana">flash("Error entering User", "danger")</font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana">&nbsp;{% with messages = get_flashed_messages(with_categories=true) %}</font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; &nbsp; </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if messages %}</font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;ul&gt;</font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for category, message in messages%}</font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li class="alert alert-{{ category }}"&gt;{{ message }}&lt;/li&gt;</font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}</font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/ul&gt;</font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif%}</font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; &nbsp; {% endwith %}</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td colspan=2><font size=2 color="#000000" face="Arial">
<div align=center><font size=6 color="#000000" face="Verdana"><b>FORM</b></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td rowspan=2><font size=2 color="#000000" face="Arial">
<div align=center><font size=6 color="#008000" face="Verdana"><b>app.py</b></font></div>
<div><br></div>
<div>from flask import Flask,render_template,request;</div>
<div>from flask_bootstrap import Bootstrap;</div>
<div>from flask_mysqldb import MySQL;</div>
<div>import yaml;</div>
<div><br></div>
<div>app = Flask(__name__)</div>
<div><br></div>
<div>Bootstrap(app)</div>
<div>'''</div>
<div>db = yaml.safe_load(open('db.yaml'));</div>
<div><br></div>
<div>app.config[ 'MYSQL_HOST' ] &nbsp;= db['mysql_host'];</div>
<div>app.config [ 'MYSQL_USER' ] = db['mysql_user'];</div>
<div>app.config['MYSQL_PASSWORD'] = db['mysql_password'];</div>
<div>app.config['MYSQL_DB'] = db['mysql_db'];</div>
<div><br></div>
<div>'''</div>
<div><br></div>
<div>app.config[ 'MYSQL_HOST' ] &nbsp;= 'localhost';</div>
<div>app.config [ 'MYSQL_USER' ] = 'root';</div>
<div>app.config['MYSQL_PASSWORD'] = '';</div>
<div>app.config['MYSQL_DB'] = 'flask_form';</div>
<div>app.config['MYSQL_CURSORCLASS'] = 'DictCursor'</div>
<div>mysql = MySQL(app);</div>
<div><br></div>
<div>@app.route('/')</div>
<div>def index():</div>
<div>&nbsp; &nbsp; cur = mysql.connection.cursor();</div>
<div>&nbsp; &nbsp; #queryString = "INSERT into users (name) VALUES (%s) ";</div>
<div>&nbsp; &nbsp; #cur.execute(queryString,["Rani"]);</div>
<div>&nbsp; &nbsp; #mysql.connection.commit();</div>
<div>&nbsp; &nbsp; queryString = 'select * from users';</div>
<div>&nbsp; &nbsp; resultSet = cur.execute(queryString);</div>
<div>&nbsp; &nbsp; if resultSet &gt; 0:</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; myUsers = cur.fetchall();</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp;</div>
<div>&nbsp; &nbsp; return render_template('index.html',users= myUsers);</div>
<div><br></div>
<div>@app.route('/dbdemo')</div>
<div>def dbdemo():</div>
<div>&nbsp; &nbsp; return render_template('dbdemo.html');</div>
<div><br></div>
<div>@app.route('/register', methods=["POST","GET"])</div>
<div>def register():</div>
<div>&nbsp; &nbsp; if request.method == 'POST':</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; name = request.form['name'];</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; mobile = request.form['mobile'];</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; email = request.form['email'];</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; cur = mysql.connection.cursor;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; cur.execute("INSERT INTO employees (name,mobile,email) VALUES (%s,%s,%s)",(name,mobile,email));</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; mysql.connection.commit();</div>
<div>&nbsp; &nbsp; return render_template('/register.html');</div>
<div><br></div>
<div>&nbsp; &nbsp; </div>
<div><br></div>
<div>if __name__ == '__main__':</div>
<div>&nbsp; &nbsp; app.run(debug=True, port=5001);</div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div align=center><font size=6 color="#008000" face="Verdana"><b>register.html</b></font></div>
<div align=center><font size=6 color="#008000" face="Verdana"><b><br></b></font></div>
<div>{% extends 'base.html' %}</div>
<div><br></div>
<div><br></div>
<div>&nbsp; &nbsp; </div>
<div>&nbsp; &nbsp; {% &nbsp;block pageContent &nbsp; &nbsp;%} &nbsp; &nbsp; &nbsp; &nbsp;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; </div>
<div>&nbsp; &nbsp; &lt;h3 class="text-success text-center"&gt;Register&lt;/h3&gt;</div>
<div>&nbsp; &nbsp; &lt;form method='POST' action ='/register'&gt;</div>
<div>&nbsp; &nbsp; &lt;div class='container mx-auto w-50 p-2'&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class='form-group'&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for='name'&gt;Name&lt;/label&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type='text' class='form-control' name='name' placeholder='Enter Name' /&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class='form-group'&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for='name'&gt;E-Mail&lt;/label&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type='text' class='form-control' name='email' placeholder='Enter Name' /&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class='form-group'&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for='name'&gt;Mobile&lt;/label&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type='text' class='form-control' name='mobile' placeholder='Enter Name' /&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class='form-group'&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type='submit' class='btn btn-primar'y&gt;Register&lt;/button&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt; &nbsp; &nbsp; </div>
<div>&nbsp; &nbsp; &lt;/div&gt;</div>
<div>&nbsp; &nbsp; &lt;/form&gt;</div>
<div>&nbsp; &nbsp; </div>
<div>&nbsp; &nbsp; </div>
<div>&nbsp; &nbsp; {% &nbsp;endblock &nbsp; &nbsp;%}</div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div>{% extends 'base.html/' %}</div>
<div><br></div>
<div>{% block pageContent %}</div>
<div><br></div>
<div>&lt;div class="text-center"&gt;</div>
<div>&lt;h3 class='text-primary'&gt;Welcome to Wasan World&lt;/h3&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for user in users %}</div>
<div><br></div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ &nbsp;user.name }} &lt;br /&gt;</div>
<div><br></div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}</div>
<div>&lt;button class="btn btn-primary"&gt;Continue&lt;/button&gt;</div>
<div>&lt;/div&gt;</div>
<div>{% endblock %}</div>
<div><br></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div align=center><font size=6 color="#008000" face="Verdana"><b>base.html</b></font></div>
<div><br></div>
<div>{% extends 'bootstrap/base.html/' %} &nbsp;</div>
<div>&lt;!DOCTYPE html&gt;</div>
<div>&lt;html lang="en"&gt;</div>
<div>&nbsp; &lt;head&gt;</div>
<div>&nbsp; &nbsp; &lt;title&gt;Title&lt;/title&gt;</div>
<div>&nbsp; &nbsp; &lt;!-- Required meta tags --&gt;</div>
<div>&nbsp; &nbsp; &lt;meta charset="utf-8" /&gt;</div>
<div>&nbsp; &nbsp; &lt;meta</div>
<div>&nbsp; &nbsp; &nbsp; name="viewport"</div>
<div>&nbsp; &nbsp; &nbsp; content="width=device-width, initial-scale=1, shrink-to-fit=no"</div>
<div>&nbsp; &nbsp; /&gt;</div>
<div><br></div>
<div>&nbsp; &nbsp; &lt;!-- Bootstrap CSS v5.2.1 --&gt;</div>
<div>&nbsp; &nbsp; &lt;link</div>
<div>&nbsp; &nbsp; &nbsp; href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"</div>
<div>&nbsp; &nbsp; &nbsp; rel="stylesheet" &nbsp; &nbsp; &nbsp;</div>
<div>&nbsp; &nbsp; /&gt;</div>
<div>&nbsp; &lt;/head&gt;</div>
<div><br></div>
<div>&nbsp; &lt;body&gt;</div>
<div>&nbsp; &nbsp; &lt;header&gt;{% block navbar%} {% endblock %}&lt;/header&gt;</div>
<div>&nbsp; &nbsp; {% block content%}</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% block pageContent %} </div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% endblock %}</div>
<div>&nbsp; &nbsp; {% endblock%}</div>
<div>&nbsp; &nbsp; &lt;footer&gt;</div>
<div>&nbsp; &nbsp; &nbsp; &lt;!-- place footer here --&gt;</div>
<div>&nbsp; &nbsp; &lt;/footer&gt;</div>
<div>&nbsp; &nbsp; &lt;!-- Bootstrap JavaScript Libraries --&gt;</div>
<div>&nbsp; &nbsp; &lt;script</div>
<div>&nbsp; &nbsp; &nbsp; src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" &nbsp; &nbsp; &nbsp;</div>
<div>&nbsp; &nbsp; &gt;&lt;/script&gt;</div>
<div><br></div>
<div>&nbsp; &nbsp; &lt;script</div>
<div>&nbsp; &nbsp; &nbsp; src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"</div>
<div>&nbsp; &nbsp; &gt;&lt;/script&gt;</div>
<div>&nbsp; &lt;/body&gt;</div>
<div>&lt;/html&gt;</div>
<div><br></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
</table>
</div>
</font>
</body></html>
