<html><head><title>tu_horizon</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body bgcolor="#ffffff" leftmargin=5 topmargin=5 rightmargin=5 bottommargin=5>
<font size=2 color="#000000" face="Arial">
<div><table width="100%" border=0 cellpadding=15 cellspacing=6 bordercolor="#000000" bgcolor="#ffffff">
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 face="Century Gothic">from flask import Flask</font></div>
<div><font size=3 face="Century Gothic">app = Flask(__name__);</font></div>
<div><font size=3 face="Century Gothic">@app.route('/')</font></div>
<div><font size=3 face="Century Gothic">def helloWorld():</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; return "Hello from Wasan World!"</font></div>
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic">if (__name__) == ('__main__'):</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; app.run(debug=True,port=5001)</font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 face="Century Gothic">&nbsp;&lt;script type="text/javascript src="{{ &nbsp;url_for('static', filename-'hello.js') }}"&gt;</font></div>
<div><font size=3 face="Century Gothic">&lt;/script&gt;</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 face="Century Gothic"><b>@app.route('/hello/&lt;name&gt;') </b></font><font size=3 face="Century Gothic">&nbsp; &nbsp;</font></div>
<div><font size=3 face="Century Gothic">def hello(name):</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; return f"Hello from {name}"</font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 face="Century Gothic"><b>@app.route('/result',methods=['GET', 'POST'])</b></font></div>
<div><font size=3 face="Century Gothic">def result():</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; if request.method == 'POST': &nbsp; &nbsp;</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; &nbsp; &nbsp; result=request.form</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; &nbsp; &nbsp; return render_template('displayMarks.html', result=result);</font></div>
<div><br></div>
<div><br></div>
<hr noshade size=1 color="#000000">
<div><br></div>
<div><br></div>
<div><br></div>
<div><font face="Century Gothic">&nbsp; </font><font size=3 face="Century Gothic">{% &nbsp; &nbsp;for key,value in result.iteritems() %}</font></div>
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;tr&gt;</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;td&gt;{{ &nbsp;key }}&lt;/td&gt;</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;td&gt;{{ value }}&lt;/td&gt;</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/tr&gt;</font></div>
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 face="Century Gothic"><b>@app.route('/admin')</b></font></div>
<div><font size=3 face="Century Gothic">def hello_admin():</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; return "Hello from Admin!";</font></div>
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic"><b>@app.route('/guest/&lt;name&gt;')</b></font></div>
<div><font size=3 face="Century Gothic">def hello_guest(name):</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; return f"Hello {name}"</font></div>
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic"><b>@app.route('/user/&lt;name&gt;')</b></font></div>
<div><font size=3 face="Century Gothic">def hello_user(name):</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; if name == "admin":</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; &nbsp; &nbsp; return redirect(url_for('hello_admin'));</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; else:</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; &nbsp; &nbsp; return redirect(url_for('hello_guest',name=name))</font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><a href="mailto:@app.route(&apos;/function&apos;"><font size=3 color="#000000" face="Century Gothic"><u>@app.route('/function'</u></font></a><font size=3 color="#000000" face="Century Gothic">, methods=['POST','GET])</font></div>
<div><font size=3 color="#000000" face="Century Gothic">def function():</font></div>
<div><font size=3 color="#000000" face="Century Gothic">&nbsp; &nbsp;if request.method=='POST':</font></div>
<div><font size=3 color="#000000" face="Century Gothic">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;#statem ent 1</font></div>
<div><font size=3 color="#000000" face="Century Gothic">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;#statement 2</font></div>
<div><font size=3 color="#000000" face="Century Gothic">&nbsp; else:</font></div>
<div><font size=3 color="#000000" face="Century Gothic">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;#statement 1</font></div>
<div><font size=3 color="#000000" face="Century Gothic">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;#statement 2</font></div>
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div>app.secret_key = 'abcd1234'</div>
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic">@app.route('/flashMessages')</font></div>
<div><font size=3 face="Century Gothic">&nbsp;def flashMessages():</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; &nbsp; flash("Hello from Flash Messages")</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; &nbsp; return render_template('flashMessages.html');</font></div>
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic">@app.route('/flashMessages2/&lt;name&gt;')</font></div>
<div><font size=3 face="Century Gothic">&nbsp;def flashMessages2(name):</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; &nbsp; flash(f"Hello {name} from Second Flash Messages")</font></div>
<div><font size=3 face="Century Gothic">&nbsp; &nbsp; &nbsp; return render_template('flashMessages.html');</font></div>
<div><font size=3 face="Century Gothic"><br></font></div>
<hr noshade size=1 color="#000000">
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic">{% with messages = get_flashed_messages() %}</font></div>
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic">{% if messages %} </font></div>
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic">{% for message in messages %}</font></div>
<div><font size=3 face="Century Gothic">{{ &nbsp;message }}</font></div>
<div><font size=3 face="Century Gothic">{% endfor %} </font></div>
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic">{% endif %}</font></div>
<div><font size=3 face="Century Gothic"><br></font></div>
<div><font size=3 face="Century Gothic">{% endwith%}</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
</table>
</div>
</font>
</body></html>
