<html><head><title>Composition API</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body bgcolor="#ffffff" leftmargin=5 topmargin=5 rightmargin=5 bottommargin=5>
<font size=2 color="#000000" face="Arial">
<div><table width="100%" border=0 cellpadding=15 cellspacing=6 bordercolor="#000000" bgcolor="#ffffff">
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3>In the Vue 3 Composition API, ref and reactive are both functions used to create reactive data that can be used in your components.</font></div>
<div><font size=3>ref creates a reactive reference to a single value, whereas reactive creates a reactive object that can contain multiple values.</font></div>
<div><font size=3><br></font></div>
<div><font size=3><br></font></div>
<div><font size=3>Here is an example of using ref to create a reactive value:</font></div>
<div><font size=3>import { ref } from 'vue';</font></div>
<div><font size=3><br></font></div>
<div><font size=3>const count = ref(0);</font></div>
<div><font size=3><br></font></div>
<div><font size=3>// increment count</font></div>
<div><font size=3>count.value++;</font></div>
<div><font size=3><br></font></div>
<div><font size=3>Here is an example of using reactive to create a reactive object:</font></div>
<div><font size=3><br></font></div>
<div><font size=3>import { reactive } from 'vue';</font></div>
<div><font size=3><br></font></div>
<div><font size=3>const state = reactive({</font></div>
<div><font size=3>&nbsp; count: 0,</font></div>
<div><font size=3>&nbsp; message: 'Hello World!'</font></div>
<div><font size=3>});</font></div>
<div><font size=3><br></font></div>
<div><font size=3>// update count and message</font></div>
<div><font size=3>state.count++;</font></div>
<div><font size=3>state.message = 'Hello Vue!';</font></div>
<div><font size=3><br></font></div>
<div><font size=3><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3>&lt;template&gt;</font></div>
<div><font size=3>&nbsp; &lt;h3&gt;Welcome to DataNet&lt;/h3&gt;</font></div>
<div><font size=3>&nbsp; Name is {{ name }}&lt;br /&gt;</font></div>
<div><font size=3>&nbsp; Surname is {{ surname }}&lt;br /&gt;</font></div>
<div><font size=3>&nbsp; Age is {{ age }}&lt;br /&gt;</font></div>
<div><font size=3>&nbsp; &lt;button @click="age++"&gt;Change Name&lt;/button&gt;</font></div>
<div><font size=3>&lt;/template&gt;</font></div>
<div><font size=3><br></font></div>
<div><font size=3>&lt;script&gt;</font></div>
<div><font size=3>import { ref } from "vue";</font></div>
<div><font size=3>export default {</font></div>
<div><font size=3>&nbsp; name: "DataNet",</font></div>
<div><font size=3>&nbsp; setup() {</font></div>
<div><font size=3>&nbsp; &nbsp; const name = ref("srini");</font></div>
<div><font size=3>&nbsp; &nbsp; const surname = ref("singh");</font></div>
<div><font size=3>&nbsp; &nbsp; const age = ref(25);</font></div>
<div><font size=3>&nbsp; &nbsp; const changeTheName = () =&gt; {</font></div>
<div><font size=3>&nbsp; &nbsp; &nbsp; name.value = "wasan";</font></div>
<div><font size=3>&nbsp; &nbsp; &nbsp; age.value = 30;</font></div>
<div><font size=3>&nbsp; &nbsp; };</font></div>
<div><font size=3><br></font></div>
<div><font size=3>&nbsp; &nbsp; return {</font></div>
<div><font size=3>&nbsp; &nbsp; &nbsp; name,</font></div>
<div><font size=3>&nbsp; &nbsp; &nbsp; surname,</font></div>
<div><font size=3>&nbsp; &nbsp; &nbsp; age,</font></div>
<div><font size=3>&nbsp; &nbsp; &nbsp; changeTheName,</font></div>
<div><font size=3>&nbsp; &nbsp; };</font></div>
<div><font size=3>&nbsp; },</font></div>
<div><font size=3>};</font></div>
<div><font size=3>&lt;/script&gt;</font></div>
<div><font size=3><br></font></div>
<div><font size=3>&lt;style&gt;&lt;/style&gt;</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana">Write &nbsp;a Vue registration form with validation &nbsp;using composition form having a text filed ,email filed, password field, radio button , select and check box.</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div>&lt;</div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td colspan=2><br>
</td>
</tr>
<tr valign=top>
<td colspan=2><font size=2 color="#000000" face="Arial">
<div><table width="100%" border=0 cellpadding=1 cellspacing=-1 bordercolor="#000000" bgcolor="#ffffff">
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font face="Verdana">&lt;template&gt;</font></div>
<div><font face="Verdana">&nbsp; &lt;div&gt;</font></div>
<div><font face="Verdana">&nbsp; &nbsp; &lt;input v-model="name" type="text" placeholder="Enter name" /&gt;</font></div>
<div><font face="Verdana">&nbsp; &nbsp; &lt;div class="buttons-container"&gt;</font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; &lt;button @click="greetName"&gt;Greet&lt;/button&gt;</font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; &lt;button @click="clearName"&gt;Reset&lt;/button&gt;</font></div>
<div><font face="Verdana">&nbsp; &nbsp; &lt;/div&gt;</font></div>
<div><font face="Verdana">&nbsp; &lt;/div&gt;</font></div>
<div><font face="Verdana">&lt;/template&gt;</font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font face="Verdana">&lt;script&gt;</font></div>
<div><font face="Verdana">export default {</font></div>
<div><font face="Verdana">&nbsp; data() {</font></div>
<div><font face="Verdana">&nbsp; &nbsp; return {</font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; name: "",</font></div>
<div><font face="Verdana">&nbsp; &nbsp; };</font></div>
<div><font face="Verdana">&nbsp; },</font></div>
<div><font face="Verdana">&nbsp; methods: {</font></div>
<div><font face="Verdana">&nbsp; &nbsp; greetName() {</font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; alert(`Hello ${this.name}!`);</font></div>
<div><font face="Verdana">&nbsp; &nbsp; },</font></div>
<div><font face="Verdana">&nbsp; &nbsp; clearName() {</font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; this.name = "";</font></div>
<div><font face="Verdana">&nbsp; &nbsp; },</font></div>
<div><font face="Verdana">&nbsp; },</font></div>
<div><font face="Verdana">};</font></div>
<div><font face="Verdana">&lt;/script&gt;</font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font face="Verdana">&lt;script setup&gt;</font></div>
<div><font face="Verdana">import { ref } from "vue";</font></div>
<div><font face="Verdana">const name = ref("");</font></div>
<div><font face="Verdana">const greetName = () =&gt; alert(`Hello ${name.value}!`);</font></div>
<div><font face="Verdana">const clearName = () =&gt; (name.value = "");</font></div>
<div><font face="Verdana">&lt;/script&gt;</font></div>
</font>
</td>
</tr>
</table>
</div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 face="Courier New"><b>data</b></font></div>
<div><font face="Courier New"><br></font></div>
<div><font face="Verdana">&lt;template&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &lt;h2&gt;Options - {{ o_firstName }} {{ o_lastName }} a.k.a {{ o_heroName }}&lt;/h2&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &lt;h2&gt;Composition - {{ c_firstName }} {{ c_lastName }} {{ c_heroName }}&lt;/h2&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &lt;h2&gt;Composition - {{ greet }}&lt;/h2&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &lt;h2&gt;Composition - {{ greetHero }}&lt;/h2&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &lt;h2&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; Composition - {{ state.firstName }} {{ state.lastName }}
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; {{ state.heroName }}
 </font></div>
<div><font face="Verdana">&nbsp; &lt;/h2&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &lt;h2&gt;Composition - {{ reactiveGreetHero }}&lt;/h2&gt;
&lt;</font></div>
<div><font face="Verdana">&lt;/template&gt;

</font></div>
<div><font face="Verdana">
&lt;</font></div>
<div><font face="Verdana">&lt;script&gt;
i</font></div>
<div><font face="Verdana">import { ref, reactive } from 'vue'
e</font></div>
<div><font face="Verdana">export default {
 </font></div>
<div><font face="Verdana">&nbsp; name: 'Data',
 </font></div>
<div><font face="Verdana">&nbsp; setup() {
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; const c_firstName = ref('Clark')
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; const c_lastName = ref('Kent')
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; const c_heroName = ref('Superman')

</font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana">&nbsp; &nbsp; const state = reactive({
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; firstName: 'Princess',
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; lastName: 'Diana',
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; heroName: 'Wonder Woman',
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; })

</font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana">&nbsp; &nbsp; const greet = `Hello ${c_firstName.value}`
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; const greetHero = `Hello ${c_firstName.value} ${c_lastName.value} a.k.a ${c_heroName.value}`
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; const reactiveGreetHero = `Hello ${state.firstName} ${state.lastName} a.k.a ${state.heroName}`

</font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana">&nbsp; &nbsp; return {
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; c_firstName,
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; c_lastName,
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; c_heroName,
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; greet,
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; greetHero,
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; state,
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; reactiveGreetHero,
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; }
 </font></div>
<div><font face="Verdana">&nbsp; },
 </font></div>
<div><font face="Verdana">&nbsp; data() {
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; return {
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; o_firstName: 'Bruce',
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; o_lastName: 'Wayne',
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; o_heroName: 'Batman',
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; }
 </font></div>
<div><font face="Verdana">&nbsp; },
}</font></div>
<div><font face="Verdana">}
&lt;</font></div>
<div><font face="Verdana">&lt;/script&gt;

</font></div>
<div><font face="Verdana">
&lt;</font></div>
<div><font face="Verdana">&lt;style scoped&gt;
&lt;</font></div>
<div><font face="Verdana">&lt;/style&gt;</font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><b>reactive</b></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#008000"><b>toRef</b></font></div>
<div><font size=3><br></font></div>
<div><font face="Verdana">&lt;template&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &lt;div&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &lt;!-- Options API --&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &lt;input type="text" placeholder="First Name" v-model="fName" /&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &lt;input type="text" placeholder="Last Name" v-model="lName" /&gt;

</font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana">&nbsp; &nbsp; &lt;!-- ref --&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &lt;input type="text" placeholder="Hero Name" v-model="heroName" /&gt;

</font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana">&nbsp; &nbsp; &lt;!-- reactive --&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &lt;input type="text" placeholder="First Name" v-model="firstName" /&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &lt;input type="text" placeholder="Last Name" v-model="lastName" /&gt;
 </font></div>
<div><font face="Verdana">&nbsp; &lt;/div&gt;
&lt;</font></div>
<div><font face="Verdana">&lt;/template&gt;

</font></div>
<div><font face="Verdana">
&lt;</font></div>
<div><font face="Verdana">&lt;script&gt;
i</font></div>
<div><font face="Verdana">import { ref, reactive, toRefs } from 'vue'
e</font></div>
<div><font face="Verdana">export default {
 </font></div>
<div><font face="Verdana">&nbsp; name: 'VModel',
 </font></div>
<div><font face="Verdana">&nbsp; setup() {
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; const heroName = ref('')
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; const state = reactive({
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; firstName: '',
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; lastName: '',
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; })

</font></div>
<div><font face="Verdana"><br></font></div>
<div><font face="Verdana">&nbsp; &nbsp; return {
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; heroName,
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; ...toRefs(state),
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; }
 </font></div>
<div><font face="Verdana">&nbsp; },
 </font></div>
<div><font face="Verdana">&nbsp; data() {
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; return {
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; fName: '',
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; &nbsp; lName: '',
 </font></div>
<div><font face="Verdana">&nbsp; &nbsp; }
 </font></div>
<div><font face="Verdana">&nbsp; },
}</font></div>
<div><font face="Verdana">}
&lt;</font></div>
<div><font face="Verdana">&lt;/script&gt;

</font></div>
<div><font face="Verdana">
&lt;</font></div>
<div><font face="Verdana">&lt;style scoped&gt;
&lt;</font></div>
<div><font face="Verdana">&lt;/style&gt;</font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#008000" face="Verdana"><b>computed</b></font></div>
<div><font size=3 color="#000000" face="Verdana"><b><br></b></font></div>
<div><font size=3 face="Verdana">&lt;template&gt;
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &lt;div&gt;
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &lt;!-- Options API --&gt;
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &lt;input type="text" placeholder="First Name" v-model="fName" /&gt;
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &lt;input type="text" placeholder="Last Name" v-model="lName" /&gt;
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &lt;h2&gt;Options Fullname is {{ fullName }}&lt;/h2&gt;

</font></div>
<div><font size=3 face="Verdana"><br></font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &lt;!-- ref --&gt;
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &lt;input type="text" placeholder="First Name" v-model="refFirstName" /&gt;
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &lt;input type="text" placeholder="Last Name" v-model="refLastName" /&gt;
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &lt;h2&gt;ref Fullname is {{ refFullName }}&lt;/h2&gt;

</font></div>
<div><font size=3 face="Verdana"><br></font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &lt;!-- reactive --&gt;
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &lt;input type="text" placeholder="First Name" v-model="reactiveFirstName" /&gt;
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &lt;input type="text" placeholder="Last Name" v-model="reactiveLastName" /&gt;
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &lt;h2&gt;reactive Fullname is {{ reactiveFullName }}&lt;/h2&gt;
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &lt;/div&gt;
&lt;</font></div>
<div><font size=3 face="Verdana">&lt;/template&gt;

</font></div>
<div><font size=3 face="Verdana">
&lt;</font></div>
<div><font size=3 face="Verdana">&lt;script&gt;
i</font></div>
<div><font size=3 face="Verdana">import { ref, reactive, toRefs, computed } from 'vue'
e</font></div>
<div><font size=3 face="Verdana">export default {
 </font></div>
<div><font size=3 face="Verdana">&nbsp; name: 'Computed',
 </font></div>
<div><font size=3 face="Verdana">&nbsp; setup() {
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; const refFirstName = ref('')
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; const refLastName = ref('')

</font></div>
<div><font size=3 face="Verdana"><br></font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; const state = reactive({
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &nbsp; reactiveFirstName: '',
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &nbsp; reactiveLastName: '',
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; })

</font></div>
<div><font size=3 face="Verdana"><br></font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; </font><font size=3 color="#008000" face="Verdana"><b>const refFullName = computed(function () {
 </b></font></div>
<div><font size=3 color="#008000" face="Verdana"><b>&nbsp; &nbsp; &nbsp; return `${refFirstName.value} ${refLastName.value}`
 </b></font></div>
<div><font size=3 color="#008000" face="Verdana"><b>&nbsp; &nbsp; })

</b></font></div>
<div><font size=3 color="#008000" face="Verdana"><b><br></b></font></div>
<div><font size=3 color="#008000" face="Verdana"><b>&nbsp; &nbsp; const reactiveFullName = computed(function () {
 </b></font></div>
<div><font size=3 color="#008000" face="Verdana"><b>&nbsp; &nbsp; &nbsp; return `${state.reactiveFirstName} ${state.reactiveLastName}`
</b></font><font size=3 face="Verdana"><b>&nbsp;</b></font></div>
<div><font size=3 face="Verdana"><b>&nbsp; &nbsp; })</b></font><font size=3 face="Verdana">

</font></div>
<div><font size=3 face="Verdana"><br></font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; return {
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &nbsp; refFirstName,
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &nbsp; refLastName,
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &nbsp; refFullName,
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &nbsp; ...toRefs(state),
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &nbsp; reactiveFullName,
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; }
 </font></div>
<div><font size=3 face="Verdana">&nbsp; },
 </font></div>
<div><font size=3 face="Verdana">&nbsp; data() {
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; return {
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &nbsp; fName: '',
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &nbsp; lName: '',
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; }
 </font></div>
<div><font size=3 face="Verdana">&nbsp; },
 </font></div>
<div><font size=3 face="Verdana">&nbsp; computed: {
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; fullName() {
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; &nbsp; return `${this.fName} ${this.lName}`
 </font></div>
<div><font size=3 face="Verdana">&nbsp; &nbsp; },
 </font></div>
<div><font size=3 face="Verdana">&nbsp; },
}</font></div>
<div><font size=3 face="Verdana">}
&lt;</font></div>
<div><font size=3 face="Verdana">&lt;/script&gt;

</font></div>
<div><font size=3 face="Verdana">
&lt;</font></div>
<div><font size=3 face="Verdana">&lt;style scoped&gt;
&lt;</font></div>
<div><font size=3 face="Verdana">&lt;/style&gt;</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 face="Verdana"><b>lifecycle</b></font></div>
<div><font size=3 face="Courier New"><br></font></div>
<div><font size=3 face="Courier New">&lt;template&gt;
 </font></div>
<div><font size=3 face="Courier New">&nbsp; &lt;div&gt;Composition API Lifecycle Hooks&lt;/div&gt;
&lt;</font></div>
<div><font size=3 face="Courier New">&lt;/template&gt;

</font></div>
<div><font size=3 face="Courier New">
&lt;</font></div>
<div><font size=3 face="Courier New">&lt;script&gt;
i</font></div>
<div><font size=3 face="Courier New">import {
 </font></div>
<div><font size=3 face="Courier New">&nbsp; onBeforeMount,
 </font></div>
<div><font size=3 face="Courier New">&nbsp; onMounted,
 </font></div>
<div><font size=3 face="Courier New">&nbsp; onBeforeUpdate,
 </font></div>
<div><font size=3 face="Courier New">&nbsp; onUpdated,
 </font></div>
<div><font size=3 face="Courier New">&nbsp; onBeforeUnmount,
 </font></div>
<div><font size=3 face="Courier New">&nbsp; onUnmounted,
}</font></div>
<div><font size=3 face="Courier New">} from 'vue'
e</font></div>
<div><font size=3 face="Courier New">export default {
 </font></div>
<div><font size=3 face="Courier New">&nbsp; name: 'LifecycleC',
 </font></div>
<div><font size=3 face="Courier New">&nbsp; setup() {
 </font></div>
<div><font size=3 face="Courier New">&nbsp; &nbsp; </font><font size=3 color="#008000" face="Courier New"><b>onBeforeMount(() =&gt; {
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; &nbsp; console.log('LifeCycleC onBeforeMount()')
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; })
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; onMounted(() =&gt; {
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; &nbsp; console.log('LifeCycleC onMounted()')
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; })
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; onBeforeUpdate(() =&gt; {
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; &nbsp; console.log('LifeCycleC onBeforeUpdate()')
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; })
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; onUpdated(() =&gt; {
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; &nbsp; console.log('LifeCycleC onUpdated()')
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; })
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; onBeforeUnmount(() =&gt; {
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; &nbsp; console.log('LifeCycleC onBeforeUnmount()')
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; })
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; onUnmounted(() =&gt; {
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; &nbsp; console.log('LifeCycleC onUnmounted()')
 </b></font></div>
<div><font size=3 color="#008000" face="Courier New"><b>&nbsp; &nbsp; })
 </b></font></div>
<div><font size=3 face="Courier New">&nbsp; },
}</font></div>
<div><font size=3 face="Courier New">}
&lt;</font></div>
<div><font size=3 face="Courier New">&lt;/script&gt;

</font></div>
<div><font size=3 face="Courier New">
&lt;</font></div>
<div><font size=3 face="Courier New">&lt;style scoped&gt;
&lt;</font></div>
<div><font size=3 face="Courier New">&lt;/style&gt;</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td><font size=2 color="#000000" face="Arial">
<div><font size=3 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
</table>
</div>
</font>
</body></html>
