<html><head><title>Net Ninja</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body bgcolor="#ffffff" leftmargin=5 topmargin=5 rightmargin=5 bottommargin=5>
<font size=2 color="#000000" face="Arial">
<div><table width="100%" border=0 cellpadding=25 cellspacing=-1 bordercolor="#000000" bgcolor="#ffffff">
<tr valign=top>
<td width=65><font size=2 color="#000000" face="Arial">
<div><font size=2><br></font></div>
<div><font size=2><b>Sl. No.</b></font></div>
</font>
</td>
<td width=740><font size=2 color="#000000" face="Arial">
<div align=center><font size=2><b><br></b></font></div>
<div align=center><font size=2><b>HTML</b></font></div>
<div align=center><font size=2><b><br></b></font></div>
</font>
</td>
<td width=787><font size=2 color="#000000" face="Arial">
<div align=center><font size=2><b><br></b></font></div>
<div align=center><font size=2><b>TITLE</b></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td width=65><font size=2 color="#000000" face="Arial">
<div><font size=2>1</font></div>
</font>
</td>
<td width=740><font size=2 color="#000000" face="Arial">
<div><font size=2 color="#000000" face="Verdana"><br></font></div>
<div><font size=2>&lt;html lang="en"&gt;</font></div>
<div><font size=2>&nbsp;&lt;head&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta charset="UTF-8"&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</font></div>
<div><font size=2>&nbsp;&lt;title&gt;Learning Vue&lt;/title&gt;</font></div>
<div><font size=2>&nbsp;&lt;script src="https://unpkg.com/vue@3.0.0"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;/head&gt;</font></div>
<div><font size=2>&nbsp;&lt;body&gt;</font></div>
<div><font size=2>&nbsp;&lt;h1&gt;Hello, Vue :)&lt;/h1&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;script src="app.js"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;/body&gt;</font></div>
<div><font size=2>&nbsp;&lt;/html&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2><br></font></div>
</font>
</td>
<td width=787><font size=2 color="#000000" face="Arial">
<div><font size=2>&lt;script&gt;</font></div>
<div><font size=2>console.log('hello, Vue');</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&lt;/script&gt;</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td width=65><font size=2 color="#000000" face="Arial">
<div><font size=2>2</font></div>
</font>
</td>
<td width=740><font size=2 color="#000000" face="Arial">
<div><font size=2>&lt;html lang="en"&gt;</font></div>
<div><font size=2>&nbsp;&lt;head&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta charset="UTF-8"&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</font></div>
<div><font size=2>&nbsp;&lt;title&gt;Learning Vue&lt;/title&gt;</font></div>
<div><font size=2>&nbsp;&lt;script src="https://unpkg.com/vue@3.0.0"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;/head&gt;</font></div>
<div><font size=2>&nbsp;&lt;body&gt;</font></div>
<div><font size=2>&nbsp;&lt;h1&gt;Hello, Vue :)&lt;/h1&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;div id="app"&gt;</font></div>
<div><font size=2>&nbsp;&lt;p&gt;I am the template, now!&lt;/p&gt;</font></div>
<div><font size=2>&nbsp;&lt;/div&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;script src="app.js"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;/body&gt;</font></div>
<div><font size=2>&nbsp;&lt;/html&gt;</font></div>
<div><font size=2><br></font></div>
</font>
</td>
<td width=787><font size=2 color="#000000" face="Arial">
<div><font size=2>&lt;script&gt;</font></div>
<div><font size=2>const app = Vue.createApp({</font></div>
<div><font size=2>&nbsp;// data, functions etc</font></div>
<div><font size=2>&nbsp;// template: '&lt;h2&gt;I am the template&lt;/h2&gt;',</font></div>
<div><font size=2>&nbsp;})</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;app.mount('#app')</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&lt;/script&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2>template:`</font></div>
<div><font size=2>&nbsp; &nbsp;&lt;p&gt;</font></div>
<div><font size=2>&nbsp; &nbsp;&lt;h2&gt;I am the template&lt;/h2&gt;</font></div>
<div><font size=2>&nbsp; &nbsp;&lt;p&gt;</font></div>
<div><font size=2>&nbsp; &nbsp;&lt;h3&gt;This is second line&lt;/h3&gt;</font></div>
<div><font size=2>&nbsp; &nbsp;&lt;button&gt;Click Me &lt;/button&gt;</font></div>
<div><font size=2>&nbsp; &nbsp;</font></div>
<div><font size=2>&nbsp; &nbsp;`,</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td width=65><font size=2 color="#000000" face="Arial">
<div><font size=2>3</font></div>
</font>
</td>
<td width=740><font size=2 color="#000000" face="Arial">
<div><font size=2>&lt;html lang="en"&gt;</font></div>
<div><font size=2>&nbsp;&lt;head&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta charset="UTF-8"&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</font></div>
<div><font size=2>&nbsp;&lt;title&gt;Learning Vue&lt;/title&gt;</font></div>
<div><font size=2>&nbsp;&lt;script src="https://unpkg.com/vue@3.0.0"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;/head&gt;</font></div>
<div><font size=2>&nbsp;&lt;body&gt;</font></div>
<div><font size=2>&nbsp;&lt;h1&gt;Hello, Vue :)&lt;/h1&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;div id="app"&gt;</font></div>
<div><font size=2>&nbsp;&lt;p&gt;{{ title }} - by {{ author }}, {{ age }} years old&lt;/p&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;button v-on:click="age++"&gt;Increase age&lt;/button&gt;</font></div>
<div><font size=2>&nbsp;&lt;button @click="age--"&gt;Decrease age&lt;/button&gt;</font></div>
<div><font size=2>&nbsp;&lt;div @click="changeTitle('Oathbringer')"&gt;Change book title&lt;/div&gt;</font></div>
<div><font size=2>&nbsp;&lt;/div&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;script src="app.js"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;/body&gt;</font></div>
<div><font size=2>&nbsp;&lt;/html&gt;</font></div>
</font>
</td>
<td width=787><font size=2 color="#000000" face="Arial">
<div><font size=2>const app = Vue.createApp({</font></div>
<div><font size=2>&nbsp;data() {</font></div>
<div><font size=2>&nbsp;return {</font></div>
<div><font size=2>&nbsp;title: 'The Way of Kings',</font></div>
<div><font size=2>&nbsp;author: 'Brandon Sanderson',</font></div>
<div><font size=2>&nbsp;age: 45</font></div>
<div><font size=2>&nbsp;}</font></div>
<div><font size=2>&nbsp;},</font></div>
<div><font size=2>&nbsp;methods: {</font></div>
<div><font size=2>&nbsp;changeTitle(title) {</font></div>
<div><font size=2>&nbsp;// this.title = 'Words of Radiance'</font></div>
<div><font size=2>&nbsp;this.title = title</font></div>
<div><font size=2>&nbsp;}</font></div>
<div><font size=2>&nbsp;}</font></div>
<div><font size=2>&nbsp;})</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;app.mount('#app')</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td width=65><font size=2 color="#000000" face="Arial">
<div><font size=2>4</font></div>
</font>
</td>
<td width=740><font size=2 color="#000000" face="Arial">
<div><font size=2>&lt;html lang="en"&gt;</font></div>
<div><font size=2>&nbsp;&lt;head&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta charset="UTF-8"&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</font></div>
<div><font size=2>&nbsp;&lt;title&gt;Learning Vue&lt;/title&gt;</font></div>
<div><font size=2>&nbsp;&lt;script src="https://unpkg.com/vue@3.0.0"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;/head&gt;</font></div>
<div><font size=2>&nbsp;&lt;body&gt;</font></div>
<div><font size=2>&nbsp;&lt;h1&gt;Hello, Vue :)&lt;/h1&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2 face="Verdana">&nbsp;</font><font size=2 face="Verdana"><b>&lt;div id="app"&gt;</b></font></div>
<div><font size=2 face="Verdana"><b>&nbsp;&lt;div v-if="showBooks"&gt;</b></font></div>
<div><font size=2 face="Verdana"><b>&nbsp;&lt;p&gt;{{ title }} - by {{ author }}, {{ age }} years old&lt;/p&gt;</b></font></div>
<div><font size=2 face="Verdana"><b>&nbsp;&lt;/div&gt;</b></font></div>
<div><font size=2 face="Verdana"><b>&nbsp;&lt;div v-else&gt;</b></font></div>
<div><font size=2 face="Verdana"><b>&nbsp;&lt;p&gt;Click the button below to show books&lt;/p&gt;</b></font></div>
<div><font size=2 face="Verdana"><b>&nbsp;&lt;/div&gt;</b></font></div>
<div><font size=2 face="Verdana"><b><br></b></font></div>
<div><font size=2 face="Verdana"><b>&nbsp;&lt;button @click="toggleShowBooks"&gt;</b></font></div>
<div><font size=2 face="Verdana"><b>&nbsp;&lt;!-- Toggle books --&gt;</b></font></div>
<div><font size=2 face="Verdana"><b>&nbsp;&lt;span v-if="showBooks"&gt;Hide books&lt;/span&gt;</b></font></div>
<div><font size=2 face="Verdana"><b>&nbsp;&lt;span v-else&gt;Show books&lt;/span&gt;</b></font></div>
<div><font size=2 face="Verdana"><b>&nbsp;&lt;/button&gt;</b></font></div>
<div><font size=2 face="Verdana"><b><br></b></font></div>
<div><font size=2 face="Verdana"><b>&nbsp;&lt;div v-show="showBooks"&gt;currently showing books&lt;/div&gt;</b></font></div>
<div><font size=2 face="Verdana"><b>&nbsp;&lt;/div&gt;</b></font></div>
<div><font size=2><br></font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;script src="app.js"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;/body&gt;</font></div>
<div><font size=2>&nbsp;&lt;/html&gt;</font></div>
</font>
</td>
<td width=787><font size=2 color="#000000" face="Arial">
<div><font size=2>const app = Vue.createApp({</font></div>
<div><font size=2>&nbsp;data() {</font></div>
<div><font size=2>&nbsp;return {</font></div>
<div><font size=2>&nbsp;showBooks: true,</font></div>
<div><font size=2>&nbsp;title: 'The Way of Kings',</font></div>
<div><font size=2>&nbsp;author: 'Brandon Sanderson',</font></div>
<div><font size=2>&nbsp;age: 45</font></div>
<div><font size=2>&nbsp;}</font></div>
<div><font size=2>&nbsp;},</font></div>
<div><font size=2>&nbsp;methods: {</font></div>
<div><font size=2>&nbsp;toggleShowBooks() {</font></div>
<div><font size=2>&nbsp;this.showBooks = !this.showBooks</font></div>
<div><font size=2>&nbsp;}</font></div>
<div><font size=2>&nbsp;}</font></div>
<div><font size=2>&nbsp;})</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;app.mount('#app')</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td width=65><font size=2 color="#000000" face="Arial">
<div><font size=2>11.</font></div>
</font>
</td>
<td width=740><font size=2 color="#000000" face="Arial">
<div><font size=2>&lt;html lang="en"&gt;</font></div>
<div><font size=2>&nbsp;&lt;head&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta charset="UTF-8"&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</font></div>
<div><font size=2>&nbsp;&lt;title&gt;Learning Vue&lt;/title&gt;</font></div>
<div><font size=2>&nbsp;&lt;script src="https://unpkg.com/vue@3.0.0"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;style&gt;</font></div>
<div><font size=2>&nbsp;.box { </font></div>
<div><font size=2>padding: 100px 0; </font></div>
<div><font size=2>width: 400px; </font></div>
<div><font size=2>text-align: center; </font></div>
<div><font size=2>background: #ddd; </font></div>
<div><font size=2>margin: 20px; </font></div>
<div><font size=2>display: inline-block; </font></div>
<div><font size=2>} </font></div>
<div><font size=2>&lt;/style&gt;</font></div>
<div><font size=2>&nbsp;&lt;/head&gt;</font></div>
<div><font size=2>&nbsp;&lt;body&gt;</font></div>
<div><font size=2>&nbsp;&lt;h1&gt;Hello, Vue :)&lt;/h1&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2 color="#000000"><b>&nbsp;&lt;div id="app"&gt;</b></font></div>
<div><font size=2 color="#000000"><b>&nbsp;&lt;div v-if="showBooks"&gt;</b></font></div>
<div><font size=2 color="#000000"><b>&nbsp;&lt;p&gt;{{ title }} - by {{ author }}, {{ age }} years old&lt;/p&gt;</b></font></div>
<div><font size=2 color="#000000"><b>&nbsp;&lt;/div&gt;</b></font></div>
<div><font size=2 color="#000000"><b>&nbsp;&lt;div v-else&gt;</b></font></div>
<div><font size=2 color="#000000"><b>&nbsp;&lt;p&gt;Click the button below to show books&lt;/p&gt;</b></font></div>
<div><font size=2 color="#000000"><b>&nbsp;&lt;/div&gt;</b></font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;button @click="toggleShowBooks"&gt;</font></div>
<div><font size=2>&nbsp;&lt;span v-if="showBooks"&gt;Hide books&lt;/span&gt;</font></div>
<div><font size=2>&nbsp;&lt;span v-else&gt;Show books&lt;/span&gt;</font></div>
<div><font size=2>&nbsp;&lt;/button&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;br&gt;</font></div>
<div><font size=2>&nbsp;&lt;!-- mouse events --&gt;</font></div>
<div><font size=2>&nbsp;&lt;div class="box" @mouseover="handleEvent($event, 5)"&gt;mouseover (enter)&lt;/div&gt;</font></div>
<div><font size=2>&nbsp;&lt;div class="box" @mouseleave="handleEvent"&gt;mouseleave&lt;/div&gt;</font></div>
<div><font size=2>&nbsp;&lt;div class="box" @dblclick="handleEvent"&gt;double click me&lt;/div&gt;</font></div>
<div><font size=2>&nbsp;&lt;div class="box" @mousemove="handleMousemove"&gt;position {{ x }} {{ y }}&lt;/div&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;/div&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;script src="app.js"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;/body&gt;</font></div>
<div><font size=2>&nbsp;&lt;/html&gt;</font></div>
</font>
</td>
<td width=787><font size=2 color="#000000" face="Arial">
<div><font size=2>const app = Vue.createApp({</font></div>
<div><font size=2>&nbsp;data() {</font></div>
<div><font size=2>&nbsp;return {</font></div>
<div><font size=2>&nbsp;showBooks: true,</font></div>
<div><font size=2>&nbsp;title: 'The Way of Kings',</font></div>
<div><font size=2>&nbsp;author: 'Brandon Sanderson',</font></div>
<div><font size=2>&nbsp;age: 45,</font></div>
<div><font size=2>&nbsp;x: 0,</font></div>
<div><font size=2>&nbsp;y: 0,</font></div>
<div><font size=2>&nbsp;}</font></div>
<div><font size=2>&nbsp;},</font></div>
<div><font size=2>&nbsp;methods: {</font></div>
<div><font size=2>&nbsp;toggleShowBooks() {</font></div>
<div><font size=2>&nbsp;this.showBooks = !this.showBooks</font></div>
<div><font size=2>&nbsp;},</font></div>
<div><font size=2>&nbsp;handleEvent(e, data) {</font></div>
<div><font size=2>&nbsp;console.log(e.type, e)</font></div>
<div><font size=2>&nbsp;if (data) {</font></div>
<div><font size=2>&nbsp;console.log(data)</font></div>
<div><font size=2>&nbsp;}</font></div>
<div><font size=2>&nbsp;},</font></div>
<div><font size=2>&nbsp;handleMousemove(e) {</font></div>
<div><font size=2>&nbsp;this.x = e.offsetX</font></div>
<div><font size=2>&nbsp;this.y = e.offsetY</font></div>
<div><font size=2>&nbsp;}</font></div>
<div><font size=2>&nbsp;}</font></div>
<div><font size=2>&nbsp;})</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;app.mount('#app')</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td width=65><font size=2 color="#000000" face="Arial">
<div><font size=2>12</font></div>
</font>
</td>
<td width=740><font size=2 color="#000000" face="Arial">
<div><font size=2>&lt;html lang="en"&gt;</font></div>
<div><font size=2>&nbsp;&lt;head&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta charset="UTF-8"&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</font></div>
<div><font size=2>&nbsp;&lt;title&gt;Learning Vue&lt;/title&gt;</font></div>
<div><font size=2>&nbsp;&lt;script src="https://unpkg.com/vue@3.0.0"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;style&gt;</font></div>
<div><font size=2>&nbsp;.box { </font></div>
<div><font size=2>padding: 100px 0; </font></div>
<div><font size=2>width: 400px; </font></div>
<div><font size=2>text-align: center; </font></div>
<div><font size=2>background: #ddd; </font></div>
<div><font size=2>margin: 20px; </font></div>
<div><font size=2>display: inline-block; </font></div>
<div><font size=2>} </font></div>
<div><font size=2>&lt;/style&gt;</font></div>
<div><font size=2>&nbsp;&lt;/head&gt;</font></div>
<div><font size=2>&nbsp;&lt;body&gt;</font></div>
<div><font size=2>&nbsp;&lt;h1&gt;Hello, Vue :)&lt;/h1&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;div id="app"&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;div v-if="showBooks"&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;ul&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;li v-for="book in books"&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;h3&gt;{{ book.title }}&lt;/h3&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;p&gt;{{ book.author }}&lt;/p&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;/li&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;/ul&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;/div&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;div v-else&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;p&gt;Click the button below to show books&lt;/p&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;/div&gt;</b></font></div>
<div><font size=1 face="Verdana"><b><br></b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;button @click="toggleShowBooks"&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;span v-if="showBooks"&gt;Hide books&lt;/span&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;span v-else&gt;Show books&lt;/span&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;/button&gt;</b></font></div>
<div><font size=1 face="Verdana"><b>&nbsp;&lt;/div&gt;</b></font></div>
<div><font size=2><br></font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;script src="app.js"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;/body&gt;</font></div>
<div><font size=2>&nbsp;&lt;/html&gt;</font></div>
</font>
</td>
<td width=787><font size=2 color="#000000" face="Arial">
<div><font size=2>const app = Vue.createApp({</font></div>
<div><font size=2>&nbsp;data() {</font></div>
<div><font size=2>&nbsp;return {</font></div>
<div><font size=2>&nbsp;showBooks: true,</font></div>
<div><font size=2>&nbsp;books: [</font></div>
<div><font size=2>&nbsp;{ title: 'name of the wind', author: 'patrick rothfuss' },</font></div>
<div><font size=2>&nbsp;{ title: 'the way of kings', author: 'brandon sanderson' },</font></div>
<div><font size=2>&nbsp;{ title: 'the final empire', author: 'brandon sanderson' },</font></div>
<div><font size=2>&nbsp;],</font></div>
<div><font size=2>&nbsp;}</font></div>
<div><font size=2>&nbsp;},</font></div>
<div><font size=2>&nbsp;methods: {</font></div>
<div><font size=2>&nbsp;toggleShowBooks() {</font></div>
<div><font size=2>&nbsp;this.showBooks = !this.showBooks</font></div>
<div><font size=2>&nbsp;},</font></div>
<div><font size=2>&nbsp;}</font></div>
<div><font size=2>&nbsp;})</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;app.mount('#app')</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td width=65><font size=2 color="#000000" face="Arial">
<div><font size=2>13</font></div>
</font>
</td>
<td width=740><font size=2 color="#000000" face="Arial">
<div><font size=2>&lt;html lang="en"&gt;</font></div>
<div><font size=2>&nbsp;&lt;head&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta charset="UTF-8"&gt;</font></div>
<div><font size=2>&nbsp;&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</font></div>
<div><font size=2>&nbsp;&lt;title&gt;Learning Vue&lt;/title&gt;</font></div>
<div><font size=2>&nbsp;&lt;script src="https://unpkg.com/vue@3.0.0"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;style&gt;</font></div>
<div><font size=2>&nbsp;.box { </font></div>
<div><font size=2>padding: 100px 0; </font></div>
<div><font size=2>width: 400px; </font></div>
<div><font size=2>text-align: center; </font></div>
<div><font size=2>background: #ddd; </font></div>
<div><font size=2>margin: 20px; </font></div>
<div><font size=2>display: inline-block; </font></div>
<div><font size=2>} </font></div>
<div><font size=2>&lt;/style&gt;</font></div>
<div><font size=2>&nbsp;&lt;/head&gt;</font></div>
<div><font size=2>&nbsp;&lt;body&gt;</font></div>
<div><font size=2>&nbsp;&lt;h1&gt;Hello, Vue :)&lt;/h1&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;div id="app"&gt;</font></div>
<div><font size=2>&nbsp;&lt;!-- attribute binding --&gt;</font></div>
<div><font size=2>&nbsp;&lt;!-- &lt;a v-bind:href="url"&gt;Best website ever!&lt;/a&gt; --&gt;</font></div>
<div><font size=2>&nbsp;&lt;a :href="url"&gt;Best website ever!&lt;/a&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;div v-if="showBooks"&gt;</font></div>
<div><font size=2>&nbsp;&lt;ul&gt;</font></div>
<div><font size=2>&nbsp;&lt;li v-for="book in books"&gt;</font></div>
<div><font size=2>&nbsp;&lt;img :src="book.img" :alt="book.title"&gt;</font></div>
<div><font size=2>&nbsp;&lt;h3&gt;{{ book.title }}&lt;/h3&gt;</font></div>
<div><font size=2>&nbsp;&lt;p&gt;{{ book.author }}&lt;/p&gt;</font></div>
<div><font size=2>&nbsp;&lt;/li&gt;</font></div>
<div><font size=2>&nbsp;&lt;/ul&gt;</font></div>
<div><font size=2>&nbsp;&lt;/div&gt;</font></div>
<div><font size=2>&nbsp;&lt;div v-else&gt;</font></div>
<div><font size=2>&nbsp;&lt;p&gt;Click the button below to show books&lt;/p&gt;</font></div>
<div><font size=2>&nbsp;&lt;/div&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;button @click="toggleShowBooks"&gt;</font></div>
<div><font size=2>&nbsp;&lt;span v-if="showBooks"&gt;Hide books&lt;/span&gt;</font></div>
<div><font size=2>&nbsp;&lt;span v-else&gt;Show books&lt;/span&gt;</font></div>
<div><font size=2>&nbsp;&lt;/button&gt;</font></div>
<div><font size=2>&nbsp;&lt;/div&gt;</font></div>
<div><font size=2><br></font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp;&lt;script src="app.js"&gt;&lt;/script&gt;</font></div>
<div><font size=2>&nbsp;&lt;/body&gt;</font></div>
<div><font size=2>&nbsp;&lt;/html&gt;</font></div>
</font>
</td>
<td width=787><font size=2 color="#000000" face="Arial">
<div><font size=2>&lt;script&gt;</font></div>
<div><font size=2>&nbsp; &nbsp; const app = Vue.createApp({</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; </font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; data () {</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return {</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; name: "srini",</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; email:'srini01@gmail.com',</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; mobile:'9381003591',</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; age:56,</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; showData:true,</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; buttonText:"Hide Data",</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; students:[</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {name:'kadir',email:'kadir@gmail.com',mobile:'8764512345',age:36},</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {name:'vishwas',email:'vishwas@gmail.com',mobile:'3140523456',age:42},</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {name:'ajit',email:'ajit@gmail.com',mobile:'9873456123',age:23},</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {name:'virat',email:'virat@gmail.com',mobile:'987343567123',age:43},</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ]</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; },</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; methods:{ </font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; changeEmail(myEmail){</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; this.email = myEmail;</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;},</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;toggleShowHide(){</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; this.showData = !this.showData;</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if(showData){</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; this.buttonText = "Hide Data";</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; else{ &nbsp; </font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; this.buttonText = "Show Data";</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}</font></div>
<div><font size=2><br></font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; }</font></div>
<div><font size=2>&nbsp; &nbsp; &nbsp; &nbsp; </font></div>
<div><font size=2>&nbsp;});</font></div>
<div><font size=2>&nbsp;app.mount('#app')</font></div>
<div><font size=2>&lt;/script&gt;</font></div>
</font>
</td>
</tr>
<tr valign=top>
<td width=65><font size=2 color="#000000" face="Arial">
<div><font size=2>14</font></div>
</font>
</td>
<td width=740><font size=2 color="#000000" face="Arial">
<div><font size=2 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td width=787><font size=2 color="#000000" face="Arial">
<div><font size=2 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td width=65><font size=2 color="#000000" face="Arial">
<div><font size=2><br></font></div>
</font>
</td>
<td width=740><font size=2 color="#000000" face="Arial">
<div><font size=2 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td width=787><font size=2 color="#000000" face="Arial">
<div><font size=2 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
<tr valign=top>
<td width=65><font size=2 color="#000000" face="Arial">
<div><font size=2><br></font></div>
</font>
</td>
<td width=740><font size=2 color="#000000" face="Arial">
<div><font size=2 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
<td width=787><font size=2 color="#000000" face="Arial">
<div><font size=2 color="#000000" face="Verdana"><br></font></div>
</font>
</td>
</tr>
</table>
</div>
</font>
</body></html>
